IMDb-Comparator/IMDb-Comparator.opensdf
IMDb-Comparator/IMDb-Comparator.sdf
IMDb-Comparator/IMDb-Comparator.v12.suo
IMDb-Comparator/IMDb-Comparator/IMDb-Comparator.vcxproj
IMDb-Comparator/IMDb-Comparator/IMDb-Comparator.vcxproj.filters
*.exe
*.ilk
*.pdb
*.log
*.tlog
*.obj
*.idb
*.csv
*.user
*.sdf
*.filters
*.vcxproj